section.banner {
  width: calc(98vw + 10px) !important;
  height: 100vh !important;
  padding: 0;
  margin: 0;
  background-color: #ddd;
}

section.banner iframe {
  width: calc(98vw + 10px) !important;
  height: 100vh !important;
}

section.text-box .adopt-box,
section.text-box .donate-box {
  display: flex;
  justify-content: center;
  position: relative;
}

section.text-box .box {
  background-color: #F3F3f3;
  min-height: 550px;
  width: 50%;
}

section.text-box .center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.text-box .center-text h1,
section.text-box .center-text p {
  width: 70%;
}

/* address */
section.address {
  background-color: #42E29C;
}

section.address .col-md-8 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0px 70px 0px;
}

section.address .card {
  max-width: 230px;
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
}

.thumb {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 180px;
  min-width: 215px;
  overflow: hidden;
}

.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

section.address .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 230px;
  height: 301px;
  perspective: 1000px;
  border-radius: 10px;
  margin-top: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  margin-left: 5px;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing */
/* Style the back side */
.flip-card-back {
  background-color: #57bc90;
  color: white;
  margin-top: 9px;
  transform: rotateY(180deg);
  padding: 15px;
}

/* statement */
section.statement-box .statement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

section.statement-box h1 {
  margin: 40px 0px;
}

section.statement-box .text-depoiment {
  width: 70%;
}

section.statement-box .depoiments {
  margin-bottom: 70px;
}

/* media queries */
@media (max-width: 992px) {
  section.text-box .adopt-box {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  section.text-box .donate-box {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 300px;
  }

  section.text-box .box {
    width: 100%;
  }

  section.statement-box .text-depoiment {
    width: 60%;
  }
}
@media (max-width: 768px) {
  section.text-box .box img {
    width: 70%;
    height: 70%;
  }

  section.statement-box .statement {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section.statement-box .text-depoiment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section.statement-box .text-depoiment h4 {
    margin: 10px 0px;
  }

  section.statement-box .text-depoiment p {
    text-align: center;
  }
}
@media (max-width: 285px) {
  .title {
    font-size: 25px;
  }
}/*# sourceMappingURL=incentive.css.map */