/* animal category */
.perdido {
  color: #ed8787;
  border-color: #ed8787;
}

.encontrado {
  color: #5eed5e;
  border-color: #5eed5e;
}

.adocao {
  color: #3fbcdb;
  border-color: #3fbcdb;
}

.adotado {
  color: #9b228b;
  border-color: #9b228b;
}

/* animal info */
section.animal-info {
  margin-bottom: 25px;
}

.thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

section.animal-info .info-top {
  display: flex;
  align-items: center;
}

section.animal-info .info-top p {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  margin: 0px 0px 5px 20px;
}

section.animal-info .block-info {
  padding: 20px;
  background-color: #fdfdfd;
}

section.animal-info .block-info .specific {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

section.animal-info .block-info .specific ul {
  max-width: 250px;
}

section.animal-info .block-info .specific ul li {
  margin-left: -40px;
}

section.animal-info .block-info .specific .carac {
  max-width: 300px;
  min-width: 200px;
}

/* health */
.block-info .block-health {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.block-info .block-health .health {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-info .block-health .health img {
  width: 18px;
  height: 18px;
  margin-bottom: 5px;
}

.not-healthy {
  background-color: #f16565;
  transition: opacity 1s;
}

.healthy {
  background-color: #28c966;
  transition: opacity 1s;
}

.not-healthy:hover {
  opacity: 0.8;
}

.healthy:hover {
  opacity: 0.8;
}

/* contact */
.btn-group {
  margin-top: 35px;
}

.dropdown-menu {
  width: 245px !important;
  background-color: #00B39D;
  color: #ffffff;
  padding: 10px !important;
}

/* block map */
section.block-map {
  padding: 15px;
}

section.block-map #map {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

#mapa {
  width: 95% !important;
  border-radius: 10px;
  box-shadow: 8px 7px 5px -3px #cccccc;
}

/* media queries */
@media (max-width: 1200px) {
  section.animal-info .block-info .specific .carac {
    max-width: 230px;
  }
}
@media (max-width: 992px) {
  section.animal-info .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumb {
    height: 350px;
  }

  section.animal-info .row .col-md-6 {
    max-width: 80% !important;
  }
}
@media (max-width: 768px) {
  section.animal-info .row .col-md-6 {
    max-width: 90% !important;
  }
}
@media (max-width: 460px) {
  .block-info .block-health {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
  }

  .block-info .block-health .health {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 25px;
  }
}
@media (max-width: 410px) {
  section.animal-info .block-info .specific {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}/*# sourceMappingURL=animal-profile.css.map */