{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    

    <link rel="stylesheet" href="{% static 'css/animal-profile/animal-profile.css' %}">
{% endblock complemento %}

{% block titulo %} {{animal.nome}} {% endblock titulo %}

{% block conteudo %}
    {{ endereco|json_script:'endereco' }}
    <script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>
    <body onload="main()">
        <section class="animal-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <img src="../../../media/{{animal.imagem}}" alt="{{animal.nome}}">
                        </div>
                    </div>
                    <div class="col-md-6 block-info">
                        <div class="info-top">
                            <h1 class="title green"> {{animal.nome}} </h1>
                            {% if animal.categoria == "P" %}
                                <p class="perdido">Perdido</p>
                            {% endif %}
                            {% if animal.categoria == "PA" %}
                                <p class="adocao">Para Adoção</p>
                            {% endif %}
                            {% if animal.categoria == "E" %}
                                <p class="encontrado">Encontrado</p>
                            {% endif %}
                            {% if animal.categoria == "A" %}
                                <p class="adotado">Adotado</p>
                            {% endif %}
                        </div>
                        <div class="desc justify">
                            <p class="gray">
                                {{motivo.motivo}}
                            </p>
                            
                        </div>
                        <div class="specific" >
                            <ul>
                                <li class="gray"><span class="black"> Sexo: </span> {{animal.sexo}}</li>
                                <li class="gray"><span class="black"> Porte: </span> {{animal.porte}} </li>
                                <li class="gray"><span class="black"> Raça: </span> {{animal.raca}} </li>
                                <li class="gray"><span class="black"> Idade: </span> {{animal.idade}} </li>
                            </ul>

                            <div class="carac">
                                <h6 class="black"> Características </h6>
                                <p class="gray justify">
                                    {{animal.caracteristicas}}
                                </p>
                            </div>
                        </div>
                        <div class="block-health">
                            {% if animal.vacinado == 'S' %}
                                <div class="health healthy">
                                    <img src="{% static 'images/svg/yes.svg' %}" alt="Sim">
                                    <h6 class="white">Vacinado</h6>
                                </div>
                            {% endif %}
                            {% if animal.vacinado == 'N' %}
                                <div class="health not-healthy">
                                    <img src="{% static 'images/svg/no.svg' %}" alt="Não">
                                    <h6 class="white">Vacinado</h6>
                                </div>
                            {% endif %}
                            {% if animal.vacinado == 'NI' %}
                                <div class="health" style="background-color:#cccccc">
                                    <img src="{% static 'images/svg/exclamation.svg' %}" alt="Não Informado">
                                    <h6 class="white">Vacinado</h6>
                                </div>
                            {% endif %}
                            
                            {% if animal.vermifugado == 'S' %}
                                <div class="health healthy">
                                    <img src="{% static 'images/svg/yes.svg' %}" alt="Sim">
                                    <h6 class="white">Vermifugado</h6>
                                </div>
                            {% endif %}
                            {% if animal.vermifugado == 'N' %}
                                <div class="health not-healthy">
                                    <img src="{% static 'images/svg/no.svg' %}" alt="Não">
                                    <h6 class="white">Vermifugado</h6>
                                </div>
                            {% endif %}
                            {% if animal.vermifugado == 'NI' %}
                                <div class="health" style="background-color:#cccccc">
                                    <img src="{% static 'images/svg/exclamation.svg' %}" alt="Não Informado">
                                    <h6 class="white">Vermifugado</h6>
                                </div>
                            {% endif %}

                            {% if animal.castrado == 'S' %}
                                <div class="health healthy">
                                    <img src="{% static 'images/svg/yes.svg' %}" alt="Sim">
                                    <h6 class="white">Castrado</h6>
                                </div>
                            {% endif %}
                            {% if animal.castrado == 'N' %}
                                <div class="health not-healthy">
                                    <img src="{% static 'images/svg/no.svg' %}" alt="Não">
                                    <h6 class="white">Castrado</h6>
                                </div>
                            {% endif %}
                            {% if animal.castrado == 'NI' %}
                                <div class="health" style="background-color:#cccccc">
                                    <img src="{% static 'images/svg/exclamation.svg' %}" alt="Não Informado">
                                    <h6 class="white">Castrado</h6>
                                </div>
                            {% endif %}
                        </div>
                        <div class="btn-group center" role="group">
                            <button id="btnGroupDrop1" type="button" class="button-green" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Informações do responsável
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <p>{{responsavel.first_name}}  {{responsavel.last_name}}</p>
                                <p>{{responsavel.email}}</p>
                                <p>{{perfil_responsavel.whatsapp}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="block-map center" >
            <h1 class="title green">ONDE POSSO ENCONTRÁ-LO?</h1>
            <div id="map">
            </div>
        </section>
        
    
        <footer>
            <div class="container">
                <p class="white text-opacity">© 2020 AUline, Inc.</p>   
                <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
            </div>
        </footer>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    </body>
{% endblock conteudo %}