{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/profile/profile.css'%}">
{% endblock complemento %}

{% block titulo %} Perfil | {{usuario.first_name}} {% endblock titulo %}

{% block conteudo %}
    {{ categorias|json_script:'categorias' }}
    {{ ids|json_script:'ids' }}
    <script type="text/javascript" src="{% static 'js/categorias.js' %}"></script>
    <body onload="CategoriaAnimal();" >

        <section class="content-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar">
                            <figure>
                                <img src="../../../media/{{perfil_usuario.avatar}}" class="img-profile" alt="Foto de perfil">
                            </figure>
                            
                            <div class="name">
                                <h4>{{usuario.first_name}} {{usuario.last_name}}</h4>
                            </div>
                            <div class="bio">
                                <p class="gray">
                                    {{perfil_usuario.biografia}}
                                </p>
                            </div>
                            <div class="info">
                                <h5 class="black" >INFORMAÇÕES:</h5>
                                <ul>
                                    <li class="gray">{{usuario.email}}</li>
                                    <li class="gray">{{perfil_usuario.cidade_usuario}} - {{perfil_usuario.estado_usuario}}</li>
                                    <li class="gray">{{perfil_usuario.whatsapp}}</li>
                                </ul>
                            </div>
                            <div class="button-bar center">
                                <a href="{% url 'perfil-usuario' %}" class="black text-center center active-link" >
                                    ANIMAIS CADASTRADOS
                                </a>
                                <a href="{% url 'alterar-informacoes' usuario.id %}" class="black text-center center"  >ALTERAR INFORMAÇÕES</a>
                                <a href="{% url 'excluir-conta' %}" class="black text-center center"  >EXCLUIR CONTA</a>
                                <a href="{% url 'logout' %}" class="black text-center center" >SAIR</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="content">

                            <h1 class="title green">ANIMAIS CADASTRADOS</h1>
                            <div class="cards">

                                {% for animal in animais %}
                                    <div class="card">  
                                        <a href="{% url 'perfil-animal' animal.id %}" > 
                                            <div class="thumb">
                                                <img src="../media/{{animal.imagem}}" alt="{{animal.nome}}">
                                            </div>
								        </a>
                                        <div class="card-body">
                                            <div class="info-top">

                                                <h5 class="black">{{animal.nome}}</h5>

                                                <div class="icons" >
                                                    <a href="{% url 'editar-animal' animal.id %}" > 
                                                        <img src="{% static 'images/svg/edit.svg'%}" class="small-icon" alt="Alterar">
                                                    </a>
                                                    <a href="{% url 'excluir-animal' animal.id %}" >
                                                        <img src="{% static 'images/svg/trash.svg'%}" class="small-icon" alt="Excluir">
                                                    </a>
                                                </div>

                                            </div>
                                            
                                            <p class="black text-opacity localization">{{animal.cidade}}/{{animal.estado}}</p>
                                            <div class="block-info">
                                                {% if animal.categoria == 'A' %}
											<div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Adotado">
												<p class="white">{{animal.categoria}}</p>
											</div>
                                                {% endif %}
                                                {% if animal.categoria == 'PA' %}
                                                    <div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Para adoção">
                                                        <p class="white">{{animal.categoria}}</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.categoria == 'P' %}
                                                    <div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Perdido">
                                                        <p class="white">{{animal.categoria}}</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.categoria == 'E' %}
                                                    <div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Encontrado">
                                                        <p class="white">{{animal.categoria}}</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.porte == 'Pequeno' %}
                                                    <div class="info size" data-toggle="tooltip" data-placement="top" title="Pequeno">
                                                        <p class="white">PE</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.porte == 'Médio' %}
                                                    <div class="info size" data-toggle="tooltip" data-placement="top" title="Médio">
                                                        <p class="white">ME</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.porte == 'Grande' %}
                                                    <div class="info size" data-toggle="tooltip" data-placement="top" title="Grande">
                                                        <p class="white">GR</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.sexo == 'Macho' %}
                                                    <div class="info sex-male" data-toggle="tooltip" data-placement="top" title="Macho">
                                                        <p class="white">M</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.sexo == 'Fêmea' %}
                                                    <div class="info sex-female" data-toggle="tooltip" data-placement="top" title="Fêmea">
                                                        <p class="white">F</p>
                                                    </div>
                                                {% endif %}
                                                {% if animal.sexo == 'Sexo Desconhecido' %}
                                                    <div class="info" data-toggle="tooltip" data-placement="top" title="Sexo desconhecido" style="background-color: rgb(217, 221, 0);">
                                                        <p class="white">SD</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>  

                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <footer>
            <div class="container">
                <p class="white text-opacity">© 2020 AUline, Inc.</p>   
                <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
            </div>
        </footer>
    </body>  

{% endblock conteudo %}