/* sidebar */

section.content-main .sidebar  
    background-color: #FDFDFD  
    padding: 15px  
    display: flex  
    flex-direction: column  
    justify-items: center  
    align-items: center  
  
.sidebar .thumb 
    position: relative
    max-width: 230px
    height: 200px
    overflow: hidden

.sidebar .thumb img 
    position: absolute
    left: 50%
    top: 50%
    height: 100%
    width: auto
    transform: translate(-50%,-50%)

section.content-main .sidebar .img-profile   
    border-radius: 5px  
  

section.content-main .sidebar .name  
    width: 90%  
    margin-top: 10px  
  

section.content-main .sidebar .bio  
    width: 90%  
    font-size: small  
    margin-top: 5px  
  

section.content-main .sidebar .info  
    width: 90%  
    margin-bottom: 20px !important  
    font-size: small  
  

section.content-main .sidebar .info li  
    margin-left: -40px  
  

section.content-main .sidebar .button-bar  
    border-top: 1px solid #00322B  
  

section.content-main .sidebar .button-bar a  
    border-bottom: 1px solid #00322B  
    width: 100%  
    height: 50px  
  

section.content-main .sidebar .button-bar .active-link  
    background-color: #CAE7D5  
  

section.content-main .sidebar .button-bar a:hover  
    background-color: #CAE7D5  
  

/* content */

.content  
    margin-top: 15px  
    background-color: #f3f3f3  
    border-radius: 5px   
    min-height: 645px  
    padding: 20px  
    margin-bottom: 80px  
  

.content-form  
    margin-top: 15px  
    background-color: #f3f3f3  
    border-radius: 5px   
    padding: 20px  
    margin-bottom: 80px  
  

.small-icon  
    width: 20px  
    height: 20px  
  

.small-icon:hover  
    opacity: 0.7  
  

section.content-main .content h1  
    margin-left: 10px  
  


section .card 
    margin: 20px 0px 
    border: none

section .card:hover 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    transition: box-shadow 0.7s

section .card a img.card-img-top    
    z-index: 3    
    height: 180px

section .card .thumb 
    position: relative
    height: 180px
    overflow: hidden
    border-radius: 5px 5px 0px 0px
    

section .card .thumb img 
    position: absolute
    left: 50%
    top: 50%
    height: 100%
    width: auto
    transform: translate(-50%,-50%)

section .card .title-info    
    display: flex !important    
    justify-content: space-between    
    align-items: center    
    width: 100%    

section .card .title-info .icons
    width: 70px   

section .card .block-info    
    display: flex    
    flex-wrap: wrap     
    width: 100%    

section .card .block-info > div
    margin-right: 5px
    

section .card .localization    
    margin-top: -4px    
    

section .card .block-info .info    
    border-radius: 10px    
    margin: 2px 5px    
    padding: 0px 10px    
    display: flex    
    justify-content: center    
    align-items: center !important    
    height: 20px    
    font-size: 12px !important   
  
img.unknown
    width: 20px !important
    height: 20px !important
  

/* form */

form.form-long  
    max-width: 780px !important  
    width: 780px  
    background-color: #ffffff  
    padding: 30px  
    border-radius: 10px  
    margin: 5px 0px  
  

h1.title-form  
    margin-left: 0px !important  
  


/* media queries */

@media (max-width: 1200px)  
    section.content-main .sidebar .img-profile  
        height: 170px  
        width: 170px  
        border-radius: 5px  
      

    section.content-main .content .cards .card  
        min-width: 230px  
      

    form.form-long  
        width: 650px  
      
    
  

@media (max-width: 992px)  
    section.content-main .col-md-3  
        max-width: 30%  
      

    section.content-main .col-md-9  
        max-width: 65%  
      

    section.content-main .content .cards  
        flex-direction: column  
        justify-content: center  
        align-items: center  
        margin-left: 0px
      

    form.form-long  
        width: 400px  
        min-width: 240px !important  
      

    form.form-long .form-row  
        display: flex  
        flex-direction: column  
        align-items: center  
        justify-items: center  
      

    form.form-long .form-row .col-md-6  
        width: 100%  
        max-width: 100%  
      
    
  

@media (max-width: 768px)  

    section.content-main .name,
    section.content-main .bio,
    section.content-main .info  
        display: flex  
        flex-direction: column  
        justify-content: center  
        align-items: center  
      

    section.content-main .bio  
        width: 80% !important  
        text-align: center  
      

    section.content-main .col-md-3  
        max-width: 100%  
      
    section.content-main .col-md-9  
        max-width: 100%  
      

    section.content-main .sidebar  
        border-radius: 5px  
      

    section.content-main .content-form  
        display: flex !important  
        flex-direction: column !important  
        justify-content: center !important  
        align-items: center  
      

    form.form-long  
        width: 95% !important  
      

  

@media (max-width: 380px)  

    .title  
        font-size: 25px  
      

    section.content-main .content .cards .card   
        min-width: 200px  

      

    section.content-main .content  
        padding: 10px  
      

    form.form-long  
        width: 100% !important  
      
  

@media (max-width: 310px)  

    section.content-main .content .cards .card   
        min-width: 180px  

      

    section.content-main .content .cards .card img  
        min-width: 180px  
        min-height: auto  
      
  
