{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/form/form.css'%}">
{% endblock complemento %}

{% block titulo %} Cadastre-se {% endblock titulo %}

{% block conteudo %}

    <section class="form-main">
        <form method="POST" class="form-long">
            {% csrf_token %}

            <div class="container">
                <div class="row">
                    <di class="col-md-12">
                        <h1 class="green title">CADASTRO</h1>
                        <p class="description">Cadastre-se na no nosso site a ajude os animais! </p>
                    </di>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Nome</label> <br>
                                {{ form.first_name }}
                                {% if form.errors.first_name %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.first_name}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Sobrenome</label> <br>
                                {{ form.last_name }}
                                {% if form.errors.last_name %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.last_name}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">E-mail</label> <br>
                                {{ form.email }}
                                {% if form.errors.email %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.email}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Usuário</label> <br>
                                {{ form.username }}
                                {% if form.errors.username %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.username}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Senha</label> <br>
                                {{ form.password1 }}
                                {% if form.errors.password1 %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.password1}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Repita a senha</label> <br>
                                {{ form.password2 }}
                                {% if form.errors.password2 %}
                                    <div class="alert alert-info" role="alert">
                                        {{form.errors.password2}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Estado</label> <br>
                                {{ form_perfil.estado_usuario }}
                                {% if form_perfil.errors.estado_usuario %}
                                    <div class="alert alert-info" role="alert">
                                        {{form_perfil.errors.estado_usuario}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray">Cidade</label> <br>
                                {{ form_perfil.cidade_usuario }}
                                {% if form_perfil.errors.cidade_usuario %}
                                    <div class="alert alert-info" role="alert">
                                        {{form_perfil.errors.cidade_usuario}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6" >
                                <label class="form-title gray">Data de nascimento</label> <br>
                                {{ form_perfil.data_de_nascimento }}
                                {% if form_perfil.errors.data_de_nascimento %}
                                    <div class="alert alert-info" role="alert">
                                        {{form_perfil.errors.data_de_nascimento}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-title gray"> Whatsapp </label> <br>
                                {{ form_perfil.whatsapp }}
                                {% if form_perfil.errors.whatsapp %}
                                    <div class="alert alert-info" role="alert">
                                        {{form_perfil.errors.whatsapp}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-12">
                                <label class="form-title gray"> Fale um pouco sobre você </label> <br>
                                {{ form_perfil.biografia }}
                                {% if form_perfil.errors.biografia %}
                                    <div class="alert alert-info" role="alert">
                                        {{form_perfil.errors.biografia}}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="center text-center">
                        <button type="submit" class="button-green form-btn">Cadastrar</button>
                        <p class="text-opacity">
                            Já possui um cadastro?<a href="{% url 'login' %}"> Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </section>

{% endblock conteudo %}