{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/form/form.css'%}">
{% endblock complemento %}

{% block titulo %} Entre em contato {% endblock titulo %}

{% block conteudo %}
<section class="form-main">
    <form method="POST">
        {% csrf_token %}
        <h1 class="green title">CONTATO</h1>
        <p class="description"> Entre em contato conosco</p>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="form-title gray">Nome (opcional)</label> <br>
                {{form.nome}}
                {% if form.errors.nome %}
                    <div class="alert alert-info" role="alert">
                        {{form.errors.nome}}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-12">
                <label class="form-title gray" >E-mail</label> <br>
                {{form.email}}
                {% if form.errors.email %}
                    <div class="alert alert-info" role="alert">
                        {{form.errors.email}}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-12">
                <label class="form-title gray" >Assunto do contato</label> <br>
                {{form.titulo}}
                {% if form.errors.titulo %}
                    <div class="alert alert-info" role="alert">
                        {{form.errors.titulo}}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-12">
                <label class="form-title gray" >Como podemos ajudar?</label>
                {{form.conteudo}}
                {% if form.errors.conteudo %}
                    <div class="alert alert-info" role="alert">
                        {{form.errors.conteudo}}
                    </div>
                {% endif %}
            </div>
            <div class="center text-center">
                <button type="submit" class="button-green form-btn">Enviar</button>
            </div>
        </div>
    </form>
</section>

{% endblock conteudo %}