{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/donate/donate.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/incentive/incentive.css'%}">
{% endblock complemento %}

{% block titulo %} Incentivo {% endblock titulo %}
        
{% block conteudo %}
    <section class="banner">
        <iframe src="https://www.youtube.com/embed/vphyOczM4WQ" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </section>

    <section class="text-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 adopt-box">
                    <div class="box center-text" style="background-color: #ffffff;">
                        <h1 class="title green">ADOTE!</h1>
                        <p class="gray justify">
                            A adoção de animais é um ato de amor. Por meio dela é possível oferecer 
                            aos bichinhos um lar, carinho e os cuidados necessários, além de ganhar um amigo. Segundo 
                            dados da OMS, no Brasil, o número de animais abandonados chega a 30 milhões e, por isso, é 
                            tão costumeiro encontrar gatos e cachorros nas ruas em situações precárias. Por esse motivo, 
                            a prática da adoção deve ser mais recorrente que a compra de animais, visto que há um grande 
                            número deles sofrendo nas ruas. Dessa forma, adotando você pode contribuir para a diminuição 
                            desse índice e ainda influenciar outras pessoas a realizarem esse ato, ajudando todos os 
                            animais de ruas a encontrarem um lar. 
                        </p>
                    </div>
                    <div class="box center">
                        <img src="{% static 'images/svg/adopt.svg'%}" alt="">
                    </div>
                </div>
                <div class="col-md-12 donate-box">
                    <div class="box center">
                        <img src="{% static 'images/svg/donate-img.svg'%}" alt="">
                    </div>
                    <div class="box center-text" style="background-color: #ffffff;">
                        <h1 class="title green">DOE E AJUDE UM PET</h1>
                        <p class="gray justify">
                            As ONGs são organizações comunitárias que necessitam de doações para sua subsistência, são 
                            nelas que os animais de ruas permanecem até serem adotados e lá, recebem todos os cuidados 
                            necessários. Por isso, são necessárias as doações para compra dos utensílios que esses 
                            animais precisam. Sendo assim, realize doações na página Doe para que as ONGs consigam 
                            manter esse trabalho e ajudar a todos animais de ruas que estejam carecendo de cuidados, 
                            dando suporte a eles até serem adotados. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="address">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h1 class="title white text-center"> ADOTE NESSES LOCAIS </h1>
                </div>

                <div class="col-md-8" style="margin-bottom: 25px;">
                    {% for ponto in pontos %}
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="card">
                                        <div class="thumb">
                                            <img src="../media/{{ponto.imagem}}" alt="{{ponto.nome_ponto}}">
                                        </div>
                                        <div class="card-body text-center">
                                            <h4 class="green">{{ponto.nome_ponto}}</h4>
                                            <p class="gray">
                                                {{ponto.desc_ponto}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p style="margin-top: 15px;"> Rua {{ponto.rua_ponto}}, N° {{ponto.numero_ponto}}, {{ponto.cidade_ponto}} - {{ponto.estado_ponto}}</p>

                                    <p>Referência: {{ponto.referencia}}</p>

                                    <p>
                                        Tel.: {{ponto.telefone}} <br>
                                        Whatsapp: {{ponto.whatsapp}}
                                    </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="statement-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title green">DEPOIMENTOS</h1>
                </div>
                <div class="depoiments">
                    {% for depoimento in depoimentos %}
                        <div class="col-md-12 statement">
                            <div class="text-depoiment">
                                <h4 class="green">{{depoimento.autor}}</h4>
                                <p class="gray justify">
                                    “ {{depoimento.conteudo}} “
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p class="white text-opacity">© 2020 AUline, Inc.</p>   
            <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
        </div>
    </footer>
{% endblock conteudo %}