{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
	<link rel="stylesheet" href="{% static 'css/home/home.css'%}">

	{{ categorias|json_script:'categorias' }}
    {{ ids|json_script:'ids' }}
    <script type="text/javascript" src="{% static 'js/categorias.js' %}"></script>
{% endblock complemento %}

{% block titulo %} Página inicial {% endblock titulo %}
        
{% block conteudo %}
	<body onload="CategoriaAnimal();">
		
        <section class="banner">
			<div class="overlay"></div>
			<div class="container chamada-banner">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1> Auline </h1>
						<h3 class="white"> Ajude esses animaizinhos a acharem um lar </h3>
						<a href="{% url 'sobre' %}" class="button-green"> Saiba Mais! </a>
					</div>
				</div>
			</div>
		</section>

		<section class="filter">
			<div class="container">
				<div class="row">

					<div class="col-md-4">
						<h1 class="title white text-center"> ENCONTRE SEU AMIGO </h1>
					</div>

					<div class="col-md-8">
						<form method="POST">
							{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-6">
								<label class="title-input">Nome</label> <br>
								<input type="text" class="input-filter" placeholder="Nome" name="nome">
								</div>
								<div class="form-group col-md-6">
									<label class="title-input" >Cidade</label> <br>
									<input type="text" class="input-filter" placeholder="Cidade" name="cidade">
								</div>
								<div class="form-group col-md-6">
									<label class="title-input" >Categoria</label> <br>
									<select class="input-filter" name="categoria_filtro">
										<option value="">Escolher categoria</option>
										<option value="P">Perdido</option>
										<option value="PA">Para adoção</option>
										<option value="E">Encontrado</option>
										<option value="A">Adotado</option>	
									</select>
								</div>
								<div class="form-group col-md-6">
									<label class="title-input" >Porte</label> <br>
									<select class="input-filter" name="porte">
										<option value="">Escolher porte</option>
										<option value="Pequeno">Pequeno</option>
										<option value="Médio">Médio</option>
										<option value="Grande">Grande</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label class="title-input" >Sexo</label> <br>
									<select class="input-filter" name="sexo">
										<option value="">Escolher sexo</option>
										<option value="Macho">Macho</option>
										<option value="Fêmea">Fêmea</option>
										<option value="Sexo Desconhecido">Sexo Desconhecido</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label class="title-input" >Tipo</label> <br>
									<select class="input-filter" name="tipo">
										<option value="">Escolher tipo</option>
										<option value="CA">Cachorro</option>
										<option value="GA">Gato</option>
									</select>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<button type="submit" class="button-green">Filtrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="publications">
			<div class="waves">
				<img src="{% static 'images/svg/wavesOpacity.svg'%}" alt="">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="title green">RECÉM CHEGADOS</h1>
					</div>
					
					{% for animal in animais %}
						<div class="col-md-3">
							<div class="card" style="width: 18rem;">
								
								<a href="{% url 'perfil-animal' animal.id %}" > 
									<div class="thumb">
										<img src="../media/{{animal.imagem}}" alt="{{animal.nome}}">
									</div>
								</a>
								<div class="card-body">
									<h5 class="black">{{animal.nome}}</h5>
									<p class="black text-opacity localization">{{animal.cidade}}/{{animal.estado}}</p>
									<div class="block-info">
										{% if animal.categoria == 'A' %}
											<div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Adotado">
												<p class="white">{{animal.categoria}}</p>
											</div>
										{% endif %}
										{% if animal.categoria == 'PA' %}
											<div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Para adoção">
												<p class="white">{{animal.categoria}}</p>
											</div>
										{% endif %}
										{% if animal.categoria == 'P' %}
											<div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Perdido">
												<p class="white">{{animal.categoria}}</p>
											</div>
										{% endif %}
										{% if animal.categoria == 'E' %}
											<div class="info" id="{{animal.id}}" data-toggle="tooltip" data-placement="top" title="Encontrado">
												<p class="white">{{animal.categoria}}</p>
											</div>
										{% endif %}
										{% if animal.porte == 'Pequeno' %}
											<div class="info size" data-toggle="tooltip" data-placement="top" title="Pequeno">
												<p class="white">PE</p>
											</div>
										{% endif %}
										{% if animal.porte == 'Médio' %}
											<div class="info size" data-toggle="tooltip" data-placement="top" title="Médio">
												<p class="white">ME</p>
											</div>
										{% endif %}
										{% if animal.porte == 'Grande' %}
											<div class="info size" data-toggle="tooltip" data-placement="top" title="Grande">
												<p class="white">GR</p>
											</div>
										{% endif %}
										{% if animal.sexo == 'Macho' %}
											<div class="info sex-male" data-toggle="tooltip" data-placement="top" title="Macho">
												<p class="white">M</p>
											</div>
										{% endif %}
										{% if animal.sexo == 'Fêmea' %}
											<div class="info sex-female" data-toggle="tooltip" data-placement="top" title="Fêmea">
												<p class="white">F</p>
											</div>
										{% endif %}
										{% if animal.sexo == 'Sexo Desconhecido' %}
											<div class="info" data-toggle="tooltip" data-placement="top" title="Não informado" style="background-color: rgb(217, 221, 0);">
												<p class="white">SD</p>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}	
					<div class="col-md-12">
						{% if animais.has_other_pages %}
							<ul class="pagination">
								
								{% if animais.has_previous %}
									<li class="page-item">
										<a href="?page={{ animais.previous_page_number }}" class="page-link" >&laquo;</a>
									</li>
								{% else %}
									<li class="disabled page-item">
										<span class="page-link">&laquo;</span>
									</li>
								{% endif %}

								{% for i in animais.paginator.page_range %}
									{% if animais.number == i %}
										<li class="active page-item">
											<span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
										</li>
									{% else %}
										<li class="page-item">
											<a class="page-link" href="?page={{ i }}">{{ i }}</a>
										</li>
									{% endif %}
								{% endfor %}

								{% if animais.has_next %}
									<li class="page-item">
										<a class="page-link" href="?page={{ animais.next_page_number }}" >&raquo;</a>
									</li>
								{% else %}
									<li class="disabled page-item">
										<span class="page-link">&raquo;</span>
									</li>
								{% endif %}

							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</section>

		<div class="waves">
			<img src="{% static 'images/svg/wavesOpacity2.svg'%}" alt="">
		</div>

		<section class="help center">
			
			<h1 class="title green text-center">COMO POSSO AJUDAR?</h1>
			<div class="container">
				<div class="cards">
					
					<div class="infocard">
						<a href="">
							<span color="icon"><img src="{% static 'images/svg/donate.svg'%}" class="icon" alt="doar"></span>
							<h2 class="green">Doe</h2>
							<p class="gray">
								Nos ajude fazendo doação de rações, produtos de higiene ou até 
								mesmo em dinheiro
							</p>
						</a>
					</div>
							
					<div class="infocard">
						<a href="">
							<span color="icon"><img src="{% static 'images/svg/home.svg'%}" class="icon" alt="doar"></span>
							<h2 class="green">Adote</h2>
							<p class="gray">
								Adote o bichinho que mais tocou o seu coração s2
							</p>
						</a>
					</div>
							
					<div class="infocard">
						<a href="">
							<span color="icon"><img src="{% static 'images/svg/share.svg'%}" class="icon" alt="doar"></span>
							<h2 class="green">Compartilhe</h2>
							<p class="gray">
								Compartilhe nossa página para que mais pessoas ajudem esses animais
							</p>
						</a>
					</div>
				</div>
			</div>
			
			
		</section>
		
		<footer >
			<div class="container">
				<p class="white text-opacity">© 2020 AUline, Inc.</p>   
				<a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
			</div>
		</footer>
		
    </body> 
{% endblock conteudo %}