{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/donate.css'%}">
{% endblock complemento %}

{% block titulo %} Doe {% endblock titulo %}
        
{% block conteudo %}
    <section class="donate">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/dog-donate.png'%}" class="dog-donate" alt="Doe">
                </div>
                <div class="col-md-8">
                    <div class="triangle"></div>
                    <div class="text">
                        <p class="gray justify">
                            Nos ajude fazendo uma doação em dinheiro pelo site 
                            <a href="https://www.vakinha.com.br/"> VAKINHA </a> 
                            ou doe produtos de higiene, alimentação ou até mesmo brinquedos. Utilize os 
                            endereços abaixo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="address">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h1 class="title white text-center"> DOE TAMBÉM NESSES ENDEREÇOS </h1>
                </div>

                <div class="col-md-8" >
                    {% for ponto in pontos %}
                        <div class="card">
                            <img class="card-img-top" src="../media/{{ponto.imagem}}" alt="{{ponto.nome_ponto}}">
                            <div class="card-body text-center">
                                <h4 class="green">{{ponto.nome_ponto}}</h4>
                                <p class="gray">
                                    {{ponto.desc_ponto}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p class="white text-opacity">© 2020 AUline, Inc.</p>   
            <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
        </div>
    </footer>
{% endblock conteudo %}