{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock complemento %}

{% block titulo %} Rex | Editar {% endblock titulo %}

{% block conteudo %}
    <section class="content-main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <figure>
                            <img src="../../../media/{{perfil_usuario.avatar}}" class="img-profile" alt="Foto de perfil">
                        </figure>
                        
                        <div class="name">
                            <h4>{{usuario.first_name}} {{usuario.last_name}}</h4>
                        </div>
                        <div class="bio">
                            <p class="gray">
                                {{perfil_usuario.biografia}}
                            </p>
                        </div>
                        <div class="info">
                            <h5 class="black" >INFORMAÇÕES:</h5>
                            <ul>
                                <li class="gray">{{usuario.email}}</li>
                                <li class="gray">{{perfil_usuario.cidade_usuario}} - {{perfil_usuario.estado_usuario}}</li>
                                <li class="gray">{{perfil_usuario.whatsapp}}</li>
                            </ul>
                        </div>
                        <div class="button-bar center">
                            <a href="{% url 'animais' %}" class="black text-center center " > ANIMAIS CADASTRADOS</a>
                            <a href="{% url 'alterar-informacoes' usuario.id %}" class="black text-center center"  >ALTERAR INFORMAÇÕES</a>
                            <a href="{% url 'excluir-conta' %}" class="black text-center center"  >EXCLUIR CONTA</a>
                            <a href="{% url 'logout' %}" class="black text-center center" >SAIR</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-form">

                        <form method="POST" class="form-long">
                            {% csrf_token %}
                            <div class="container">
                                <div class="row">
                                    <di class="col-md-12">
                                        <h1 class="green title title-form">EDITAR ANIMAL</h1>

                                    </di>
                                    <div class="col-md-12">
                                        <div class="form-row">
        
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Categoria</label> <br>
                                                {{form.categoria}}
                                            </div>
        
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Estado</label> <br>
                                                {{form.estado}}
                                            </div>
                                            
                                            <div class="form-group col-md-6" style="margin-top:-4px;">
                                                <label class="form-title gray">Nome</label> <br>
                                                {{form.nome}}
                                            </div>
        
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Cidade</label> <br>
                                                {{form.cidade}}
                                            </div>
        
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Tipo</label> <br>
                                                {{form.tipo_animal}}
                                            </div>
        
                                            <div class="form-group col-md-6" style="margin-top:-4px;">
                                                <label class="form-title gray">Rua</label> <br>
                                                {{form.rua}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Porte</label> <br>
                                                {{form.porte}}
                                            </div>
                                            
                                            <div class="form-group col-md-6" style="margin-top:-4px;">
                                                <label class="form-title gray">Raça</label> <br>
                                                {{form.raca}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Sexo</label> <br>
                                                {{form.sexo}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Vacinado</label> <br>
                                                {{form.vacinado}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Castrado</label> <br>
                                                {{form.castrado}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Vermifugado</label> <br>
                                                {{form.vermifugado}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Características</label> <br>
                                                {{form.caracteristicas}}
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Comentário</label> <br>
                                                {{form_motivo.motivo}}
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="form-title gray">Idade</label> <br>
                                                {{form.idade}}
                                            </div>

                                            <div class="form-group col-md-6" style="margin-top:-4px;">
                                                <label class="form-title gray">Imagem</label> <br>
                                                {{form.image}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center text-center">
                                        <button type="submit" class="button-green form-btn">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p class="white text-opacity">© 2020 AUline, Inc.</p>   
            <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
        </div>
    </footer>
{% endblock conteudo %}