{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/animal-profile.css' %}">
{% endblock complemento %}

{% block titulo %} Rex {% endblock titulo %}

{% block conteudo %}
    {{ endereco|json_script:'endereco' }}
    <script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>
    <body onload="main()">
        <section class="animal-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/images/img-profile.jpg" class="img-profile" alt="Rex">
                    </div>
                    <div class="col-md-6 block-info">
                        <h1 class="title green"> REX </h1>
                        <div class="desc justify">
                            <p class="gray">
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                            </p>
                            
                        </div>
                        <div class="specific" >
                            <ul>
                                <li class="gray"><span class="black"> Sexo: </span> Fêmea</li>
                                <li class="gray"><span class="black"> Porte: </span> Pequeno </li>
                                <li class="gray"><span class="black"> Raça: </span> Golden Retriever </li>
                                <li class="gray"><span class="black"> Idade: </span> 5 anos </li>
                            </ul>

                            <div class="carac">
                                <h6 class="black"> Características </h6>
                                <p class="gray justify">
                                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. 
                                </p>
                            </div>
                        </div>
                        <div class="block-health">
                            <div class="health healthy">
                                <img src="{% static 'images/svg/yes.svg' %}" alt="Yes">
                                <h6 class="white">Vacinado</h6>
                            </div>
                            <div class="health healthy">
                                <img src="{% static 'images/svg/yes.svg' %}" alt="Yes">
                                <h6 class="white">Vermifugado</h6>
                            </div>
                            <div class="health not-healthy">
                                <img src="{% static 'images/svg/no.svg' %}" alt="No">
                                <h6 class="white">Castrado</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="block-map center">
            <h1 class="title green">ONDE POSSO ENCONTRÁ-LO?</h1>
            <div class="map">
                Mapa
            </div>
        </section>
    
        <footer>
            <div class="container">
                <p class="white text-opacity">© 2020 AUline, Inc.</p>   
                <a href="{% url 'entre-em-contato' %}" class="white">Entre em contato</a> 
            </div>
        </footer>
    </body>
{% endblock conteudo %}